<!DOCTYPE html>
<html>
  <head>
    <title>Brian Emory | Web Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/blog' %>
    <%= render 'layouts/projects' %>
    <%= render 'layouts/about' %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/to-top' %>
  </body>
</html>
